.row
  .col-lg-12
    %h1.centered Listing products

    .row.bordered-bot.p-b-10
      .col-md-2 Title
      .col-md-5 Description
      .col-md-1 Category
      .col-md-1 Price
      .col-md-3.text-right Action

    - products.each do |product|
      .row.bordered-bot-thick.p-v-10
        .col-md-2= product.title
        .col-md-5= product.description
        .col-md-1= product.category_name
        .col-md-1= number_to_currency(product.price)
        .col-md-3
          .custom-width.pull-right.p-l-5= link_to 'Show', category_product_path(product.category, product), class: 'btn-success btn-sm'
          - if current_user && (current_user.id == product.user_id)
            .custom-width.pull-right= link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn-sm'
            .custom-width.pull-right.p-r-5= link_to 'Edit', edit_category_product_path(product.category, product), class: 'btn-info btn-sm'
    %br
